.heart{
  cursor: pointer;
  display: block;
  height: 30px;
  width: 30px;
  margin: 200px auto;
  background-size: auto 100%;
  background-position: 0 0;
  background-image: url(https://abs.twimg.com/a/1446304541/img/t1/web_heart_animation.png);
}