<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sns.board.mapper.BoardMapper">
	<select id="selectBoard" parameterType="hashmap" resultType="Board">
	<!--  
		<![CDATA[
			select * from (select ROWNUM rnum, board.* from (select * from BOARD order by B_RDATE desc) board) where rnum > #{startRow} and rnum <= #{endRow} and MEM_EMAIL in (select FLR_EMAIL from FOLLOW where MEM_EMAIL = #{mem_email} ) order by B_RDATE desc
		]]>
	-->
			<![CDATA[
			select boardlist.B_SEQ, boardlist.B_CONTENT, boardlist.MEM_EMAIL, TO_CHAR(boardlist.B_RDATE, 'YYYY-MM-DD') as B_RDATE 
			from (select ROWNUM rnum, board.* from (select * from BOARD order by B_RDATE desc) board) boardlist 
			where rnum > #{startRow} and rnum <= #{endRow} 
			and MEM_EMAIL in (select FLR_EMAIL from FOLLOW where MEM_EMAIL = #{mem_email} ) 
			order by B_RDATE desc
			]]>
	</select>
	
	<select id="selectBoardFile" parameterType="long" resultType="Board_File">
		<![CDATA[
			SELECT * FROM BOARD_FILE WHERE B_SEQ = #{b_seq} ORDER BY BF_SEQ
		]]>
	</select>
	
	<select id="selectBoardReply" parameterType="hashmap" resultType="Board_Reply">
		<![CDATA[
			select * from (select ROWNUM rnum, br.* from (select * from BOARD_REPLY where B_SEQ = #{b_seq}) br) where rnum > #{startRow} and rnum <= #{endRow} order by BRP_RDATE desc
		]]>
	</select>
	
	<select id="selectMemberProfile" parameterType="String" resultType="String">
		<![CDATA[
			SELECT MEM_PROFILE FROM MEMBER WHERE MEM_EMAIL = #{mem_email}
		]]>
	</select>
	
	<select id="selectBoardTotalCount" parameterType="String" resultType="long">
	<![CDATA[
	select count(*) from BOARD where mem_email in (select flr_email from follow where mem_email = #{mem_email}) order by b_rdate desc
	]]>
	</select>
	
	<select id="selectBoardLikeCount" parameterType="long" resultType="long">
		select count(*) from BOARD_LIKE where B_SEQ = #{b_seq}
	</select>
	
	<select id="selectBoardLike" parameterType="long" resultType="Board_Like">
		select * from BOARD_LIKE where B_SEQ = #{b_seq}
	</select>
	
	
	<select id="selectBoardLikeUser" parameterType="Board_Like" resultType="Board_Like">
		select * from BOARD_LIKE where B_SEQ = #{b_seq} and MEM_EMAIL = #{mem_email}
	</select>
	
	<insert id="insertBoardLike" parameterType="Board_Like">
		<![CDATA[
		INSERT INTO BOARD_LIKE (MEM_EMAIL, B_SEQ) VALUES (#{mem_email}, #{b_seq})
		]]>
	</insert>
	
	<delete id="deleteBoardLike" parameterType="Board_Like">
		<![CDATA[
		DELETE FROM BOARD_LIKE WHERE MEM_EMAIL = #{mem_email} AND B_SEQ = #{b_seq}
		]]>
	</delete>
	
	<select id="selectBoardReplyCount" parameterType="long" resultType="long">
		<![CDATA[
		select COUNT(*) from BOARD_REPLY where B_SEQ = #{b_seq}
		]]>
	</select>
	
	<select id="selectUser" parameterType="String" resultType="Member">
		<![CDATA[
		SELECT * FROM MEMBER WHERE MEM_EMAIL LIKE LOWER(#{keyword}||'%') AND MEM_STATE = 1
		]]>
	</select>
	
	<select id="selectFollow" parameterType="String" resultType="Follow">
		<![CDATA[
		SELECT FLR_EMAIL FROM FOLLOW WHERE MEM_EMAIL = #{mem_email}
		]]>
	</select>
	
	<insert id="insertFollowing" parameterType="Follow">
		<![CDATA[
		insert into FOLLOW (FLR_EMAIL, MEM_EMAIL) values(#{flr_email}, #{mem_email})
		]]>
	</insert>
	
	<delete id="deleteFollowing" parameterType="Follow">
		<![CDATA[
		delete from FOLLOW where MEM_EMAIL = #{mem_email} AND FLR_EMAIL = #{flr_email}
		]]>
	</delete>
	
	
	
	
</mapper>
