<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sns.board.mapper.BoardMapper">
	<!-- 
	<resultMap type="sns.domain.Board" id="Board">
		<id column="B_SEQ" property="b_seq"></id>
		<result column="B_CONTENT" property="b_content"></result>
		<result column="MEM_EMAIL" property="mem_email"></result>
		<result column="B_RDATE" property="b_rdate"></result>
		<result column="MEM_PROFILE" property="mem_profile"></result>
		<collection resultMap="Board_Like" property="board_like_list"></collection>
		<collection resultMap="Board_File" property="board_file_list"></collection>
	</resultMap>
	
	<resultMap type="sns.domain.Board_File" id="Board_File">
		<id column="BF_SEQ" property="bf_seq"></id>
		<result column="BF_OFNAME" property="bf_ofname"></result>
		<result column="BF_FNAME" property="bf_fname"></result>
		<result column="BF_SIZE" property="bf_size"></result>
		<result column="B_SEQ" property="b_seq"></result>
	</resultMap>
	
	<resultMap type="sns.domain.Board_Like" id="Board_Like">
		<result column="MEM_EMAIL" property="mem_email"></result>
		<result column="B_SEQ" property="b_seq"></result>
	</resultMap>
	
	<resultMap type="sns.domain.Board_Reply" id="Board_Reply">
		<id column="BRP_SEQ" property="brp_seq"></id>
		<result column="BRP_CONTENT" property="brp_content"></result>
		<result column="BRP_RDATE" property="brp_rdate"></result>
		<result column="MEM_EMAIL" property="mem_email"></result>
		<result column="B_SEQ" property="b_seq"></result>
	</resultMap>

	<select id="selectBoardNew" parameterType="hashmap" resultMap="Board">
	<![CDATA[
		select b.B_SEQ,
		b.B_CONTENT,
		b.MEM_EMAIL,
		b.B_RDATE,
		f.BF_SEQ,
		f.BF_FNAME,
		f.B_SEQ,
		m.MEM_PROFILE,
		bl.b_seq,
		bl.mem_email,
		br.brp_seq,
		br.mem_email
		from (select ROWNUM rnum, board.* from
		(select * from board where mem_email in 
		(select flr_email from follow where mem_email = 'a@naver.com') order by b_rdate desc) board)
		 b 
		left outer join board_file f on b.b_seq = f.b_seq 
		left outer join member m on b.mem_email = m.mem_email
		left outer join board_like bl on bl.b_seq = b.b_seq
		left outer join board_reply br on br.b_seq = b.b_seq
		where rnum > #{startRow} and rnum <=#{endRow} and 
		b.mem_email in (select flr_email from follow where mem_email = 'a@naver.com') 
		order by b_rdate desc
	]]>
	</select>
	-->
		
	<select id="selectBoard" parameterType="java.util.hashmap" resultType="Board">
		SELECT
				boardlist.B_SEQ, 
				boardlist.B_CONTENT, 
				boardlist.MEM_EMAIL, 
				TO_CHAR(boardlist.B_RDATE, 'YYYY-MM-DD') AS B_RDATE 
		  FROM (SELECT 
						ROWNUM rnum, board.* 
				  FROM 
					   (SELECT * 
					      FROM BOARD 
					     WHERE MEM_EMAIL 
						IN (SELECT flr_email
							      FROM follow 
							     WHERE mem_email = #{mem_email})
		      ORDER BY B_RDATE DESC) board) boardlist
			 WHERE <![CDATA[rnum > #{startRow}]]>
			   AND <![CDATA[rnum <= #{endRow}]]>
			   AND MEM_EMAIL 
			    IN (SELECT flr_email 
				  FROM follow 
				 WHERE mem_email = #{mem_email}) 
	  ORDER BY B_RDATE DESC
		
	<!--  
	<![CDATA[
		select * from (select ROWNUM rnum, board.* from (select * from BOARD order by B_RDATE desc) board) where rnum > #{startRow} and rnum <= #{endRow} and MEM_EMAIL in (select FLR_EMAIL from FOLLOW where MEM_EMAIL = #{mem_email} ) order by B_RDATE desc
	]]>

		<![CDATA[
		select boardlist.B_SEQ, 
		boardlist.B_CONTENT, 
		boardlist.MEM_EMAIL, 
		TO_CHAR(boardlist.B_RDATE, 'YYYY-MM-DD') as B_RDATE 
		from (select ROWNUM rnum, board.* from (select * from BOARD where 
		mem_email in (select flr_email from follow where mem_email = #{mem_email})
		order by B_RDATE desc) board) boardlist 
		where rnum > #{startRow} and rnum <= #{endRow} 
		and MEM_EMAIL in (select FLR_EMAIL from FOLLOW where MEM_EMAIL = #{mem_email} ) 
		order by B_RDATE desc
		]]>

	-->
</select>
	
	
	
	
	
	<select id="selectBoardFile" parameterType="long" resultType="Board_File">
		<![CDATA[
			SELECT * FROM BOARD_FILE WHERE B_SEQ = #{b_seq} ORDER BY BF_SEQ
		]]>
	</select>
		
	<select id="selectMemberProfile" parameterType="String" resultType="String">
		<![CDATA[
			SELECT MEM_PROFILE FROM MEMBER WHERE MEM_EMAIL = #{mem_email}
		]]>
	</select>
	
	<select id="selectBoardTotalCount" parameterType="String" resultType="long">
	<![CDATA[
	select count(*) from BOARD where mem_email in (select flr_email from follow where mem_email = #{mem_email}) order by b_rdate desc
	]]>
	</select>
	
	<select id="selectBoardLikeCount" parameterType="long" resultType="long">
		select count(*) from BOARD_LIKE where B_SEQ = #{b_seq}
	</select>
	
	<select id="selectBoardLike" parameterType="long" resultType="Board_Like">
		select * from BOARD_LIKE where B_SEQ = #{b_seq}
	</select>
	
	
	<select id="selectBoardLikeUser" parameterType="Board_Like" resultType="Board_Like">
		select * from BOARD_LIKE where B_SEQ = #{b_seq} and MEM_EMAIL = #{mem_email}
	</select>
	
	<insert id="insertBoardLike" parameterType="Board_Like">
		<![CDATA[
		INSERT INTO BOARD_LIKE (MEM_EMAIL, B_SEQ) VALUES (#{mem_email}, #{b_seq})
		]]>
	</insert>
	
	<delete id="deleteBoardLike" parameterType="Board_Like">
		<![CDATA[
		DELETE FROM BOARD_LIKE WHERE MEM_EMAIL = #{mem_email} AND B_SEQ = #{b_seq}
		]]>
	</delete>
	
	<select id="selectBoardReplyCount" parameterType="long" resultType="long">
		<![CDATA[
		select COUNT(*) from BOARD_REPLY where B_SEQ = #{b_seq}
		]]>
	</select>
	
	<select id="selectUser" parameterType="String" resultType="Member">
		<![CDATA[
		SELECT * FROM MEMBER WHERE MEM_EMAIL LIKE LOWER(#{keyword}||'%') AND MEM_STATE = 1
		]]>
	</select>
	
	<select id="selectFollow" parameterType="String" resultType="Follow">
		<![CDATA[
		SELECT FLR_EMAIL FROM FOLLOW WHERE MEM_EMAIL = #{mem_email}
		]]>
	</select>
	
	<insert id="insertFollowing" parameterType="Follow">
		<![CDATA[
		insert into FOLLOW (FLR_EMAIL, MEM_EMAIL) values(#{flr_email}, #{mem_email})
		]]>
	</insert>
	
	<delete id="deleteFollowing" parameterType="Follow">
		<![CDATA[
		delete from FOLLOW where MEM_EMAIL = #{mem_email} AND FLR_EMAIL = #{flr_email}
		]]>
	</delete>
	
	<select id="selectMember" parameterType="String" resultType="Member">
		<![CDATA[
			SELECT * FROM MEMBER WHERE MEM_EMAIL = #{mem_email}
		]]>
	</select>
	
	<update id="updateProfileImage" parameterType="Member">
		update MEMBER set MEM_PROFILE = #{mem_profile} where MEM_EMAIL = #{mem_email}
	</update>
	
	
</mapper>
